<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/stylesheets/index.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{{body}}}
    <script src="index.js"></script>
  </body>
</html>
