<form method="POST" action="/">
  <label for="a">
  <input name="a" type="number" placeholder="a" />
  </label>
  <label for="b">
  <input name="b" type="number" placeholder="b"/>
  </label>
  <label for="c">
  <input name="c" type="number" placeholder="c"/>
  </label>
  <input type="submit" value="submit">
</form>
<h1>You have {{sol}}</h1>
